---
import "../styles/general.css";
import MainLayout from "../layouts/MainLayout.astro";
import Accordion from "../components/Accordion.astro";
import FAQCard from "../components/FAQCard.astro";
import data from "../data/faq.json";
console.log(data);
---

<MainLayout title="FAQ">
  <div class="faqwrapper">
    <section class="header">
      <h1>FAQ</h1>
      <p>Got questions? We've got answers! Here are some of our Frequently Asked Questions to help you out.</p>
    </section>
    <section class="faq">
      <div class="navigationbar">
        <h2>Jump to</h2>
        <ol>
          <li><a href="#accesspass">Access Pass</a></li>
          <li><a href="#accesspass">Accessibilty</a></li>
          <li><a href="#accessibility">Bars</a></li>
          <li><a href="#bars">Electrical Outlets</a></li>
          <li><a href="#electricaloutlets">Events</a></li>
          <li><a href="#events">Fascilities</a></li>
          <li><a href="#fascilities">Health and Safety</a></li>
          <li><a href="#healthandsafety">Lost Property</a></li>
          <li><a href="#lostproperty">Opening Hours</a></li>
          <li><a href="#openinghours">Regulations</a></li>
          <li><a href="#regulations">Ticket Sale</a></li>
          <li><a href="#ticketsale">Transport</a></li>
          <li><a href="#transport">Volunteers</a></li>
        </ol>
      </div>
      <div class="faqlist">
        {
          data.map((faqEntry) => {
            return (
              <FAQCard heading={faqEntry.heading} somethingunique={faqEntry.somethingunique}>
                <Accordion variant="fullwidth" question={faqEntry.q1} answer={faqEntry.a1} />
                <Accordion variant="fullwidth" question={faqEntry.q2} answer={faqEntry.a2} />
              </FAQCard>
            );
          })
        }
      </div>
    </section>
  </div>
</MainLayout>
<style>
  .faqwrapper > * {
    margin-bottom: 3rem;
  }
  .navigationbar {
    background-color: var(--secondary_900);
    padding: var(--spacing_8);
    border-radius: var(--radius_medium);
    align-self: start;
    position: sticky;
    top: 5%;
  }
  .navigationbar a {
    color: var(--primary_50);
    text-decoration: none;
  }
  .navigationbar h2 {
    font-family: var(--font_display);
    font-size: 2.25rem;
    font-weight: 400;
  }
  ol {
    list-style-type: none;
    padding-left: var(--spacing_4);
  }
  .header p {
    font-family: var(--font_display);
    font-size: 1.35rem;
    max-width: 500px;
  }

  .header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .faq {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing_9);
    justify-content: center;
  }

  .faqlist {
    display: grid;
    gap: var(--spacing_7);
  }

  li {
    font-family: var(--font_body);
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    max-width: 65ch;
    color: var(--primary_50);
  }
  @media (min-width: 1000px) {
    .faq {
      grid-template-columns: 300px minmax(400px, 700px);
    }
  }
</style>
